/*Ideas for title slide (aligned left, fa-icons, etc) from https://github.com/apreshill/talks/blob/master/orasa-big-magic/css/my-theme.css*/

/* ----ADDING------------------------------------------------ */

/* Create a highlighted class called 'hi'  */
.hi {
  font-weight: 600;
  color: #e64173 !important;
}
.hi-pink {
  font-weight: 600;
  color: #e64173 !important;
}
.hi-slate {
  font-weight: 600;
  color: #314f4f !important;
}
.hi-turquoise {
  font-weight: 600;
  color: #44C1C4 !important;
}
.hi-purple {
  font-weight: 600;
  color: #6A5ACD !important;
}
.hi-orange {
  font-weight: 600;
  color: #FFA500 !important;
}
.hi-yellow{
  font-weight: 600;
  color: #D8BD44 !important;
}
.hi-green {
  font-weight: 600;
  color: #7CAE96 !important;
}
.hi-grey {
  font-weight: 600;
  color: #8AA19E !important;
}
.hi-blue {
  font-weight: 600;
  color: #0047AB !important;
}
.hi-red {
  font-weight: 600;
  color: #fb6107 !important;
}
/* Pink text */
.pink {
  color: #e64173 !important;
}
/* Slate ("darkslategrey") text */
.slate {
  color: #314f4f !important;
}
/* Turquoise ("lightseagreen") text */
.turquoise {
  color: #44C1C4 !important;
}
/* Purple-ish ("slateblue") text */
.purple {
  color: #6A5ACD !important;
}
/* Orange ("orange") text */
.orange {
  color: #FFA500 !important;
}
.yellow{
  color: #D8BD44 !important;
}
.green {
  color: #7CAE96 !important;
}
.grey {
  color: #8AA19E !important;
}
.blue {
  color: #0047AB !important;
}
.red {
  color: #fb6107 !important;
}

/* Grey text */
.grey-mid {
  color: #7f7f7f !important;
}
/* Grey text */
.grey-vlight {
  color: #e5e5e5 !important;
}
/* White text */
.white {
  color: #ffffff !important;
}
.black {
  color: #000000 !important;
}

/* Mono-spaced font */
.mono {
  font-family: monospace;
}
/* Underline */
.ul {
  text-decoration: underline;
}
/* Overline */
.ovl {
  text-decoration: overline;
}
.st {
  text-decoration: line-through;
}
/* Fraction */
.top{
  display:inline-block;
}
.bottom{
  border-top:solid black 1px;
  display:inline-block;
  clear:left;
}

.remark-code-line-highlighted {
  background-color: rgba(249, 39, 114, 0.5);
}

.bigger {
  font-size: 125%;
}

.smaller {
  font-size: 95%;
}

.smallest {
  font-size: 85%;
}

.tiny {
  font-size: 50%;
}

.pseudocode, .pseudocode-small {
  font-family: monospace;
  background: #f8f8f8;
  border-radius: 3px;
  padding: 10px;
}
.pseudocode-small {
  font-size: 20px;
}

.super{
  vertical-align: super;
  font-size: 70%;
}
.sub{
  vertical-align: sub;
  font-size: 70%;
}

/* 2/3 left; 1/3 right */
.more-left {
  float: left;
  width: 63%;
}
.less-right {
  float: right;
  width: 31%;
}
.more-right ~ * {
  clear: both;
}

/* left code and right plot from https://www.garrickadenbuie.com/blog/decouple-code-and-output-in-xaringan-slides/ */

.left-code {
  color: #777;
  width: 38%;
  height: 92%;
  float: left;
}
.right-plot {
  width: 60%;
  float: right;
  padding-left: 1%;
}

/* link color */
a, a > code {
  color: #DB7093; /* originally #f92672 , then 88c0d0 too light, #5E81AC too dark on gray */
}

/* unvisited link */
a:link {
    color: #DB7093;
}

/* visited link */
a:visited {
    color: #5E81AC; /* #F08080, #5E81AC originally */ 
}

/* mouse over link */
a:hover {
    color: #e5e9f0; /* originally 81a1c1 then B48EAD*/
}

/* selected link */
a:active {
    color: #B48EAD;
}

/* -----FINISHED ADDING------------------------------------------ */ 

.footnote {
  position: absolute;
  bottom: 3em;
  padding-right: 4em;
  font-size: 80%;
}

.remark-code-line-highlighted { background-color: #ffff88; }

.inverse {
  background-color: #23373B; /* 272822 */ 
  color: #d6d6d6;
  text-shadow: 0 0 20px #333;
}

.inverse h1, .inverse h2, .inverse h3 {
  color: #56B4E9;
}

/* Two-column layout */
.left-column {
  /* color: #777; */
  width: 30%; /* changed from 20 */
  height: 92%;
  float: left;
}

.left-column h2:last-of-type, .left-column h3:last-child {
  color: #000;
}

.right-column {
  width: 68%; /* changed from 75 */
  float: right;
  padding-top: 1em;
}

.pull-left {
  float: left;
  width: 47%;
}

.pull-right {
  float: right;
  width: 47%;
}

.pull-right ~ * {
  clear: both;
}

img, video, iframe {
  max-width: 100%;
}

blockquote {
  border-left: solid 5px lightgray;
  padding-left: 1em;
}

.remark-slide table {
  margin: auto;
  color: #000;
  background-color: #eee;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
  font-size: 26px;
}

.remark-slide table thead th { border-bottom: 2px solid #666; }
th, td { padding: 5px; }
.remark-slide thead, .remark-slide tfoot { background: #afafaf } /*  .remark-slide tr:nth-child(even) */


/* Class of tables with no stripe - for regression outputs*/

/* background must be set as same color as remark-slide-content below */ 
.remark-slide .regtable tr:nth-child(even){ background: #F5F5F5} 

@page { margin: 0; }
@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}

/* Custom things start below */ 

.remark-slide-content {
  background-color: #F5F5F5 ; /* #23373B; */
  background-image: url(https://publics20.classes.ryansafner.com/images/public_hex.png);
  background-position: 99% 99%;
  background-size: 8%;
  color: #000000;
  font-size: 28px;
  font-weight: 300;
  line-height: 1.5;
  padding: 0em 2em 1em 2em /* 1em first */
}

.remark-slide-number {
  position: inherit;
}

.remark-slide-number .progress-bar-container {
  position: absolute;
  bottom: 0;
  height: 4px;
  display: block;
  left: 0;
  right: 0;
}

.remark-slide-number .progress-bar {
  height: 100%;
  background-color: #56B4E9; /* blue */
}

.title-slide .inverse .remark-slide-content {
  background-color: #A59C94;
}

.blank {
  background-color: #FFFFFF;
  border-top: 0px solid #FFFFFF;
}

.blankgray {
  background-color: #A59C94;
  border-top: 0px solid #FFFFFF;
}

/* .blankgray-content > h1 {
  color: #236192;
} */

.inverse {
  background-color: #236192; /* #236192; */
  text-shadow: none;
}

.remark-slide-content > h1 {
  font-variant: normal;
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;
  font-size: 60px;
  margin-top: 0px;
  margin-left: -00px;
  color: #236192; /* #56B4E9 ; FAFAFA */
}

.inverse > h1 {
  /*font-variant: small-caps;*/
  font-size: 60px;
  color: #FFFFFF;
}

.remark-slide-content > inverse {
width: 112px;
height: 47px;
border-bottom: 1px solid black;
position: absolute;
color: #23373B;
}

.remark-slide-content > h2, h3, h4 {
  padding-top: -15px;
  padding-bottom: 00px;
  color: #1A292C;
  text-shadow: none;
  font-weight: 400;
  text-align: left;
  margin-left: 00px;
  margin-bottom: -10px;
}

.remark-slide-content > h2, .pull-left > h2, .pull-right > h2 {
  font-size: 35px;
}

.remark-slide-content > h3, .remark-slide-content > h4,
.pull-left > h3, .pull-left > h4, .pull-right > h3, .pull-right > h4 {
  font-size: 30px;
}

.title-slide {
  background-color: #236192;
  background-image: url(https://publics20.classes.ryansafner.com/images/public_hex.png);
  background-position: 99% 90%;
  background-size: 25%;
}

.title-slide > h1  {
  color: #FFFFFF;
  font-variant: normal;
  font-size: 64px;
  font-family: 'Yanone Kaffeesatz';
  text-shadow: none;
  font-weight: 400;
  text-align: left; /*changed from center*/
  margin-left: 15px;
  padding-top: 250px; /* changed from 0*/
}
.title-slide > h2  {
  margin-top: -50px; /* changed from -25*/
  padding-bottom: -20px;
  color: #FFFFFF;
  text-shadow: none;
  font-weight: 300;
  font-size: 38px;
  text-align: left; /*changed from center*/
  margin-left: 15px;
}
.title-slide > h3  {
  margin-top: 0px;  /*added*/
  color: #FFFFFF;
  text-shadow: none;
  font-weight: 300;
  font-size: 30px;
  text-align: left; /*changed from center*/
  margin-left: 15px;
  margin-bottom: -30px;
}

.remark-slide-number {
  font-size: 13pt;
  font-family: 'Fira Sans';
  color: #272822;
  opacity: 1;
}
.inverse .remark-slide-number {
  font-size: 13pt;
  font-family: 'Fira Sans';
  color: #FAFAFA;
  opacity: 1;
}


.logo-left { /* http://stackoverflow.com/questions/49865914/adding-logo-to-title-slide */
  content: "";
  position: absolute;
  bottom: 15px;
  left: 20px;
  height: 150px;
  width: 300px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(https://www.dropbox.com/s/l5t6dop5zyku1q5/hoodcollege.png?raw=1);
}

/* turns off slide numbers for title page: https://github.com/gnab/remark/issues/298 */
.title-slide .remark-slide-number {
  display: none;
}


.img{
  max-width: 100%;
}


.image-25 img {
  width: 25;
}

.image-30 img {
  width: 30%;
}

.image-40 img {
  width: 40%;
}

.image-50 img {
  width: 50%;
}

.image-60 img {
  width: 60%;
}

.image-75 img {
  width: 75%;
}

.image-200 img {
  width: 200%;
}

.hl {
  /* color: #d16666;
  color: #ff3e41; */
  color: #d14;
  font-weight: 400;
}

.remark-inline-code {
  background: #F5F5F5; /* lighter  # A59C94 */
  /*background: #e7e8e2;  darker */
  color: #5e81ac; /* #0099cc light blue */
  border-radius: 3px;
  padding: 4px;
}

.code10 .remark-code {
  font-size: 10%;
}

.code20 .remark-code {
  font-size: 20%;
}

.code30 .remark-code {
  font-size: 30%;
}

.code40 .remark-code {
  font-size: 40%;
}

.code50 .remark-code {
  font-size: 50%;
}

.code60 .remark-code {
  font-size: 60%;
}

.code70 .remark-code {
  font-size: 70%;
}

.code80 .remark-code {
  font-size: 80%;
}

.code90 .remark-code {
  font-size: 90%;
}

.code100 .remark-code {
  font-size: 100%;
}

.font10 {
  font-size: 10%;
}

.font20 {
  font-size: 20%;
}

.font30 {
  font-size: 30%;
}

.font40 {
  font-size: 40%;
}

.font50 {
  font-size: 50%;
}

.font60 {
  font-size: 60%;
}

.font70 {
  font-size: 70%;
}

.font80 {
  font-size: 80%;
}

.font90 {
  font-size: 90%;
}

.font100 {
  font-size: 100%;
}

.font110 {
  font-size: 110%;
}

.font120 {
  font-size: 120%;
}

.font130 {
  font-size: 130%;
}

.font140 {
  font-size: 140%;
}

.font150 {
  font-size: 150%;
}

.font160 {
  font-size: 160%;
}
.font170 {
  font-size: 170%;
}
.font180 {
  font-size: 180%;
}
.font190 {
  font-size: 190%;
}
.font200 {
  font-size: 200%;
}

.remark-code-line-highlighted     { background-color: #ffff88; } /* original ffff88 */

.magenta { color: magenta; }

.source {
  font-size: 50%;
  color: gray;
  float: bottom;
}


/* 
for nice numbered bullets 
https://github.com/malcolmbarrett/kakashi/blob/master/kakashi.css 
*/ 


ol {
  counter-reset: my-counter;
  list-style: none;
  padding-left: 40px;
  font-size: 32px;
  /* font-weight: bold; */
  text-align: left;
}

ol li {
  counter-increment: my-counter;
  padding-left: 40px;
  position: relative;
  font-size: 32px;
  margin: 20px 0;
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

ol li::before {
  content: counter(my-counter);
  color: #fff;
  font-size: 32px;
  /* font-weight: bold; */
  position: absolute;
  left: -25px;
  line-height: 50px;
  width: 50px;
  height: 50px;
  top: 0;
  background: #56B4E9;
  border-radius: 50%;
  text-align: center;
}

/* UL https://stackoverflow.com/questions/56338948/bullet-color-in-xaringan-presentation */

